/*\\\ Linc Company ///
*************************************************
*    @name           linc.company 	            *
*    @author         Linc Company               *
*    @copyright      © 2015 Linc Company        *
*    @version        ALISA                      *
*************************************************
\\\ Linc Company ///*/

@font-face {
    font-family: 'AlegreyaL';
    src: url('fonts/AlegreyaL.eot');
    src: url('fonts/AlegreyaL.eot') format('embedded-opentype'),
         url('fonts/AlegreyaL.woff2') format('woff2'),
         url('fonts/AlegreyaL.woff') format('woff'),
         url('fonts/AlegreyaL.ttf') format('truetype'),
         url('fonts/AlegreyaL.svg#AlegreyaLight') format('svg');
}

@font-face {
    font-family: 'AlegreyaT';
    src: url('fonts/AlegreyaT.eot');
    src: url('fonts/AlegreyaT.eot') format('embedded-opentype'),
         url('fonts/AlegreyaT.woff2') format('woff2'),
         url('fonts/AlegreyaT.woff') format('woff'),
         url('fonts/AlegreyaT.ttf') format('truetype'),
         url('fonts/AlegreyaT.svg#AlegreyaSansThin') format('svg');
}

@font-face {
    font-family: 'HelveticaL';
    src: url('fonts/HelveticaL.eot');
    src: url('fonts/HelveticaL.eot') format('embedded-opentype'),
         url('fonts/HelveticaL.woff2') format('woff2'),
         url('fonts/HelveticaL.woff') format('woff'),
         url('fonts/HelveticaL.ttf') format('truetype'),
         url('fonts/HelveticaL.svg#HelveticaL') format('svg');
}

@font-face {
    font-family: 'HelveticaT';
    src: url('fonts/HelveticaT.eot');
    src: url('fonts/HelveticaT.eot') format('embedded-opentype'),
         url('fonts/HelveticaT.woff2') format('woff2'),
         url('fonts/HelveticaT.woff') format('woff'),
         url('fonts/HelveticaT.ttf') format('truetype'),
         url('fonts/HelveticaT.svg#HelveticaT') format('svg');
}

body {
    margin: 0 auto;
    background-image: url(back_d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#prices{
  width:940px;
  min-height:600px;
  vertical-align: middle;

}
#prices h1{
  color:#000;
  text-align: center;
  margin-top: 20px;
}

#Loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1000;
}

#LoaderPic {
    display: none;
    position: absolute;
    z-index: 1001;
    width: 100%;
    top: 44%;
    text-align: center;
}

#LoaderCopyright {
    display: none;
    position: absolute;
    z-index: 1001;
    width: 100%;
    top: 88%;
    text-align: center;
    font-family: AlegreyaT;
    font-size: 16pt;
    color: white;
}

#OrderForm {
    width: 26%; 
    background: #e8e8e8;
    height: 480px;
    top: 0; left:0; right:0; bottom: 0;
    border-radius: 25px;
    position: absolute;
    margin:auto;
    display: none;
    z-index: 2999;
}

#Overlay {
    background: rgba(0,0,0,0.90);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2998;
    top: 0;
    display: none;
    bottom: 0
}


/* Basic */

    .container {  
        top:50%;
        background: rgba(255,255,255,0.97);
        padding:7px 35px 35px;
        box-shadow: 3px 2px 6px 0 rgba(0, 0, 0, 0.4);
        border-radius: 2px;
    }

    .group { 
        position:relative;
        margin-bottom:15px;
    }
        
    input {
        font-family: HelveticaT;
        color: #3d3d3d;
        line-height: 1.2em;
        display:block;
        width:100%;
        border:none;
    }

    input:focus {outline:none}
 
/* Active state */
        
/* Button */
    
    .button {
        background-color: #EA4645;
        height: auto;
        width: 50%;
        box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);
        border-bottom: 4px solid transparent;
        transition: all 0.2s ease 0s;
        font-family: HelveticaT;
        font-size: 30px;
        line-height: 1.4em;
        color: #FFF;
        border-radius: 5px;
     	cursor: pointer}
           
    .button:hover {
        box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.54);
        border-bottom: 4px solid #A42F30;
        cursor: pointer;
    }
            
    .button:active {
        line-height: 1.35em;
        border-bottom: 4px solid #A42F30;
        cursor: pointer;
    }
        
    .button-send {
        background-color: #FF3333;
        width: 120px;
        box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);
        border-bottom: 4px solid transparent;
        transition: all 0.2s ease 0s;
        font-family: HelveticaT;
        font-size: 20px;
        line-height: 1.4em;
        color: #FFF;
        border-radius: 3px;
        cursor: pointer;
        vertical-align: middle;
    }
         
    .fa {
        color:#fff;
    }

    .icon-divs{
        height:200px;
        width:35%;
    }

    .icon-divs i{
        margin:60px 0 60px 0;
    }
    .fa-briefcase{
        float:left;
    }

    .fa-cog{
        float:right;
    }
    
    .fa:hover{
        color:#FF3333;
    }

/*slide block*/


.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  font-weight: bold;
  color: #89ba2c;
  padding-left: 5%;
}
.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}
.from-right .cd-panel-header {
  right: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 50%;
  }
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #424f5c;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
  background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #dbe2e9;
  opacity: 0.5;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 50%;
  }
}


.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #424f5c;
  line-height: 1.4;
  margin: 2em 0;
}
.cd-panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }


/*slide block ends*/





    .button-send:hover {
        border-bottom: 4px solid #A42F30;
        cursor: pointer;
    }
            
    .button-send:active {
        line-height: 1.35em;
        border-bottom: 4px solid #A42F30;
        cursor: pointer;
    }
        

    input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;}
    input::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
    input:-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;}
    input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;}
    input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
    input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;}
    input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;}
    input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;}

    input::-webkit-input-placeholder {
         font-family: HelveticaT;
         color: #3d3d3d;
         font-size: 16pt;
         font-weight: 100;
         padding-left: 5px;
    }
    input:-moz-placeholder {
        font-family: HelveticaT;
         color: #3d3d3d;
         font-size: 16pt;
         font-weight: 100;
         padding-left: 5px;
    }

    .imag {
        height: 150px;
        margin-top: 3%;
    }
        
    p.top {
        text-align:center;
        margin-top: 0;
        font-size:34pt;
        line-height: 1.3em;
    }

/* Button End */


#block {
	margin-top:3%;	
}

.string1{
    font-family: HelveticaT;
    color:white;
    font-size:35px;
    margin:6px 0 0 0;
}
.logo {
	background-image: url(images/logo2.png);
    background-size: cover;
	width:164px;
	height:164px;
	margin:0 auto;
}

h1 {
	margin:0;
	padding:0;
	font-family: HelveticaT;
	color: white;
}
p {
	font-family: HelveticaT;
	color:white;
	font-size:35px;
    text-align: center;
    margin:0 0 25px 0;
}

a {
    text-decoration: none;
}

.top-border{
    border-bottom: 1px solid rgba(25,25,25,0.3);
    margin:auto;
    top:80px;
}

.top{
    font-size: 16pt;
    font-weight: 111;
    margin-top: 3%;
    margin-bottom: 0px;
}

/* Button */

 .button{
    background-color: #FF3333;
    width: 180px;
    text-align: center;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);
    border-bottom: 4px solid  rgba(0,0,0,0);
    transition: all 0.2s;
    text-decoration: none;
    font-size: 24px;  
    color: white;
    border-radius: 3px
}

.button:hover{
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.54);
	border-bottom: 4px solid #a42f30;
	transition: all 0.2;
}

.button:active{
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.54);
}

/* Button end */